
.main-container {
  background-size: cover;
  margin: 0 auto;

}
.container {
  margin: 0 auto;
  width: 960px;
  height: 100%;
}
.wrapper {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}   

.container-income-expenses {
  display: flex;
  justify-content: space-between;
  
}

.income-title,
.income-amount,
.expens-title,
.expens-amount {
  text-align: center;
  padding: 5px;
  border-radius: 5px;
}

.button {
  padding: 2%;
  border: 2px;
  border-radius: 5px;
  cursor: pointer;
}
.amount-balance {
  display: flex;
  font-size: 24px;
  font-weight: 700;
  border-radius: 10px;
  text-align: center;
  align-items: center;
  margin: 50px 0px;
}
