* {
  box-sizing: border-box;
  margin: 0 auto;
}

body {
  width: 100vw;
  height: 100vh;
}
.main-container {

  background-size: cover;
  box-sizing: border-box;
  margin: 0 auto;
  width: 100%;
  height: 100%;
}
.container {
  margin: 0 auto;
  width: 960px;
  height: 100%;
}
.wrapper {
  width: 100%;
  height: 100%;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-income-expenses {
  display: flex;
  justify-content: space-between;
  width: 100%;
}


.income-title,
.income-amount {
  text-align: center;
 
  padding: 5px;
  border-radius: 5px;
  
}
.expens-title,
.expens-amount {
  text-align: center;
  
  padding: 5px;
  border-radius: 5px;
  
}
.button {
  padding: 2%;
  border: 2px;
  border-radius: 5px;
  cursor: pointer;
}
.amount-balance {
  display: flex;

  font-size: 24px;
  font-weight: 700;

  border-radius: 10px;

  text-align: center;
  align-items: center;
  margin: 50px 0px;
}
